# dependencies
node_modules
.pnpm-store

# build
dist
dist-ssr
*.local

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# PWA generated
dev-dist

# tsc incremental
*.tsbuildinfo
